<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://considfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/52f13d77-184a-4ad0-ae0c-68a375b93c72/resourceGroups/CONSID/providers/Microsoft.Web/sites/ConsidFunctions</ResourceId>
    <UserName>$ConsidFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/52f13d77-184a-4ad0-ae0c-68a375b93c72/resourceGroups/CONSID/providers/Microsoft.ApiManagement/service/ConsidFunctions/apis/ConsidFunctions</ApiResourceId>
    <PublishUrl>https://considfunctions.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>